/Praktikum-8/LatihanPBOE2/target/
/Praktikum-8/Tugas/target/
mysql-connector-java-8.0.33.jar
Praktikum-10\src\mysql-connector-j-8.0.33.jar
jcalendar-1.4.jar
ToDoList

*.class
bin
lib
.vscode
*.zip
/GUISimple/target/
/GUIIntermediate/target/
/GUISaveList/target/
/GUIComplex/target/
/jdbc_mhs_service/nbproject/private/
/jdbc.mhs.service/nbproject/private/
/jdbc_mhs_service/build/
/jdbc_mhs_service_gui/nbproject/private/
/jdbc_mhs_service_gui/build/
Praktikum-8
/ToDoList/nbproject/private/
/ToDoList/build/
/ToDoList/dist/
